{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur SnowTricks{% endblock %}

{% block body %}

<div class="bg-secondary">
    <!-- Page content-->
    <!-- Slanted background-->
    <div class="position-relative" style="height: 480px;">

    </div>
    <!-- Page content-->
    <div class="container bg-overlay-content pb-4 mb-md-3" style="margin-top: -350px;">
        <div class="row">
            <!-- Sidebar-->
            {% include 'profile/sidebar.html.twig' %}
            <!-- Content-->
            <div class="col-lg-8">
                <div class="d-flex flex-column h-100 bg-light rounded-lg box-shadow-lg p-4">
                    <div class="py-2 p-md-3">
                        <!-- Title + Delete link-->
                        <div class="d-sm-flex align-items-center justify-content-between pb-4 text-center text-sm-left">
                            <h1 class="h3 mb-2 text-nowrap">Mes tricks ({{ app.user.tricks|length }})</h1><a class="btn btn-link text-danger font-weight-medium btn-sm mb-2" href="#"><i class="fe-trash-2 font-size-base mr-2"></i>Delete account                        </a>
                        </div>
                        <!-- Content-->
                        <div class="bg-secondary rounded-lg p-4 mb-4">
                            <div class="media d-block d-sm-flex align-items-center"><img class="d-block rounded-circle mx-auto mb-3 mb-sm-0" width="110" src="img/dashboard/avatar/main.jpg" alt="Amanda Wilson"/>
                                <div class="media-body pl-sm-3 text-center text-sm-left">
                                    <button class="btn btn-light box-shadow btn-sm mb-2" type="button"><i class="fe-refresh-cw mr-2"></i>Change avatar</button>
                                    <div class="p mb-0 font-size-ms text-muted">Upload JPG, GIF or PNG image. 300 x 300 required.</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Titre</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for trick in app.user.tricks %}
                                    <tr>
                                        <td>{{ trick.title }}</td>
                                        <td>
                                            <a href="{{ path('admin_trick_edit', {id: trick.id}) }}" class="btn btn-secondary">Editer</a>
                                            <form method="post" action="{{ path('admin_trick_delete', {id: trick.id}) }}" style="display: inline-block" onsubmit="return confirm('Êtes vous vraiement sûr ?')">
                                                <input type="hidden" name="_method" value="DELETE">
                                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.id) }}">

                                                <button class="btn btn-danger">Supprimer</button>
                                            </form>

                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>






                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>






    {% endblock %}
