{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur SnowTricks{% endblock %}

{% block body %}

    <!-- Hero-->
    <section class="jarallax bg-dark py-6 py-md-7" data-jarallax data-type="scale-opacity" data-speed="0.09">
        <div class="jarallax-img" style="background-image: url(img/home/hero-snow.jpg);"></div>
        <div class="container py-md-3">
            <div class="row justify-content-md-center">
                <div class="col-xl-6 col-lg-6 col-md-6">
                    <div class=" rounded-lg box-shadow-lg py-5">
                        <form class="py-sm-2 px-sm-3">
                            <h1 class="text-center text-white mb-4">Bienvenue sur SnowTricks</h1>
                            <div class="row">
                                <div class="col-sm-12 form-group">
                                    <label class="form-label" for="rf-date">Date and time</label>
                                    <div class="input-group-overlay">
                                        <input class="form-control appended-form-control cs-date-picker" type="text" placeholder="Choose date / time" data-datepicker-options="{&quot;enableTime&quot;: true, &quot;altInput&quot;: true, &quot;altFormat&quot;: &quot;F j, Y H:i&quot;, &quot;dateFormat&quot;: &quot;Y-m-d H:i&quot;, &quot;minDate&quot;: &quot;today&quot;}" id="rf-date">
                                        <div class="input-group-append-overlay"><span class="input-group-text"><i class="fe-calendar"></i></span></div>
                                    </div>
                                </div>
                                <div class="col-sm-6 form-group">
                                    <label class="form-label" for="rf-company-size">Company size</label>
                                    <input class="form-control" type="number" value="1" placeholder="How many people" id="rf-company-size">
                                </div>
                                <div class="col-sm-6 form-group">
                                    <label class="form-label" for="rf-email">Email address</label>
                                    <input class="form-control" type="email" placeholder="Your email" id="rf-email">
                                </div>
                            </div>
                            <div class="row align-items-center pt-2">
                                <div class="col-sm-6 mb-4 mb-sm-0"><a href="tel:+15262200459"><i class="fe-phone font-size-xl mr-2"></i>+ 1 526 220 0459</a></div>
                                <div class="col-sm-6">
                                    <button class="btn btn-primary btn-block" type="submit">Reserve</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- List Tricks-->
    <section class="bg-secondary d-flex justify-content-center mt-4 py-5 my-md-0 pt-md-7 pb-md-6" >
        <div class="container-fluid">
            <div class="row d-flex justify-content-center">
                {% for trick in tricks %}
                    <div class=" card col-md-2 m-1 pr-0 pl-0">
                        <img src="{{ asset('uploads/images/') }}{% if trick.mainImage %}{{ trick.mainImage.name }}{% else %}default_main_image.jpeg{% endif %}" class="card-img-top m-0" alt="...">
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-lg-8">
                                    <h5 class="card-title"><a href="{{ path('trick_read', { id: trick.id }) }}">{{ trick.title }}</a></h5>
                                </div>
                                <div class="col-lg-4">
                                    {% if app.user %}
                                        {% if app.user.id == trick.user.id %}
                                            <a class="inline" href="{{ path('user_trick_edit', {id: trick.id}) }}">
                                                <i class="fe-edit-2"></i>
                                            </a>
                                            <a class="inline" href="#">
                                                <i class="fe-trash"></i>
                                            </a>
                                        {% endif %}
                                    {% endif %}

                                </div>
                            </div>

                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>






{% endblock %}
