{% extends 'base.html.twig' %}

{% block title %}Détaille d'un trick{% endblock %}

{% block body %}


    {{ form_start(form) }}
    <div class="container mt-5 pr-0 pl-0">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        <header class="jarallax bg-dark py-6 py-md-7 " data-jarallax data-type="scale-opacity" data-speed="0.09">
            <div class="jarallax-img px-0" style="background-image: url(img/home/hero-snow.jpg);"></div>
            <div class="container py-md-3">
                <div class="row justify-content-md-center">
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <div class=" rounded-lg box-shadow-lg py-5">
                            <div class="py-sm-2 px-sm-3">
                                <h1 class="text-center text-white mb-5 py-5">{{ form_row(form.title) }}</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>


    <div class="container border border-secondary pt-4">
        <!-- Section medias -->

        {% if app.request.attributes.get('_route') == 'user_trick_edit' %}
        <section>
            <div class="row">
                {% for image in trick.images %}
                    <div class="col" >
                        <img src="{{ asset('uploads/images/' ~ image.name ) }}" alt="image">
                        <a href="{{ path('trick_delete_image', {'id': image.id}) }}"
                           data-delete data-token="{{ csrf_token('delete' ~ image.id) }}">Supprimé</a>
                    </div>
                {% endfor %}
                {% for video in trick.videos %}
                    <div class="col" >
                        <embed type="video/webm" src="{{ video.url }}" width="200">
                        <a href="{{ path('trick_delete_video', {'id': video.id}) }}"
                           data-delete data-token="{{ csrf_token('delete' ~ video.id) }}">Supprimé</a>
                    </div>
                {% endfor %}
            </div>
        </section>
        {% endif %}

        <!-- Trick content -->
        <section class="container pt-7 col-8" >
            <div class="row">
                <div class="col">
                    <p>{{ form_row(form.content) }}</p>
                </div>
            </div>
        </section>

        <section class="container pt-7 col-8" >
            <div class="row d-flex justify-content-between">
                <div class="col">
                    <p>{{ form_row(form.trick_group) }}</p>
                </div>
                <div class="col">
                    <button class="btn btn-primary">{{ button|default('Enregistrer') }}</button>
                </div>
            </div>
        </section>



    </div>
    {{ form_end(form) }}


{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/medias.js') }}"></script>

{% endblock %}
