{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur SnowTricks{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1>Gérer les Commentaires</h1>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        <br>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>#id</th>
                <th>Satus</th>
                <th>Titre</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for comment in comments %}
            <tr>
                <td>{{ comment.id }}</td>
                {% if comment.status == 'valide' %}
                <td class="table-success">{{ comment.status }}</td>
                {% else %}
                <td class="table-danger">{{ comment.status }}</td>
                {% endif%}
                <td>{{ comment.content }}</td>
                <td>

                    <a href="{{ path('admin_comment_update', {id: comment.id}) }}" class="btn btn-primary">Valider</a>

                    <a href="{{ path('admin_comment_edit', {id: comment.id}) }}" class="btn btn-secondary">Editer</a>
                    <form method="post" action="{{ path('admin_comment_delete', {id: comment.id}) }}" style="display: inline-block" onsubmit="return confirm('Êtes vous vraiement sûr ?')">
                    <input type="hidden" name="_method" value="DELETE">
                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ comment.id) }}">

                        <button class="btn btn-danger">Supprimer</button>
                    </form>

                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

        </div>
{% endblock %}
