{{ form_start(form) }}
<div class="row">
    <div class="col-md-12">{{ form_row(form.title) }}</div>
    <div class="col-md-12">{{ form_row(form.content) }}</div>
    <div class="col-md-12">{{ form_row(form.status) }}</div>
    <div class="col-md-12">{{ form_row(form.main_image) }}</div>
    <div class="col-md-12">{{ form_row(form.slug) }}</div>
    <div class="col-md-12">{{ form_row(form.user) }}</div>
    <div class="col-md-12">{{ form_row(form.trick_group) }}</div>
    <div class="col-md-12">{{ form_row(form.images) }}</div>
    <div class="col-md-12">{{ form_row(form.videos) }}</div>

    {# Verifi si on est sur edit #}
    {% if app.request.attributes.get('_route') == 'admin_trick_edit' %}
        <h2>Images</h2>
        {% for image in trick.images %}
            <div class="col-md-12 mt-4">
                <img src="{{ asset('uploads/images/' ~ image.name ) }}" alt="image" width="150">
                <a href="{{ path('user_trick_delete_image', {'id': image.id}) }}"
                data-delete data-token="{{ csrf_token('delete' ~ image.id) }}">Supprimé</a>

            </div>
        {% endfor %}
        <br>
        <br>

        <h2>Videos</h2>
        {% for video in trick.videos %}
            <div class="col-md-12">
                <embed type="video/webm"
                       src="{{ video.url }}"
                       width="250"
                       height="200">
                <a href="{{ path('user_trick_delete_video', {'id': video.id}) }}"
                   data-delete data-token="{{ csrf_token('delete' ~ video.id) }}">Supprimé</a>
            </div>
        {% endfor %}

    {% endif %}

</div>

<button class="btn btn-primary">{{ button|default('Enregistrer') }}</button>

{{ form_end(form) }}