<div class="row d-flex justify-content-center">
    {% for trick in tricks %}
        <div class="card col-xs-12 col-sm-4 col-md-4 col-lg-2 m-3 pr-0 pl-0">
            <img src="{{ asset('uploads/images/') }}{% if trick.mainImage %}{{ trick.mainImage.name }}{% else %}default.jpg{% endif %}" class="card-img-top m-0" alt="...">
            <div class="card-footer">
                <div class="row">
                    <div class="col-8">
                        <h5 class="card-title"><a href="{{ path('trick_read', { id: trick.id }) }}">{{ trick.title }}</a></h5>
                    </div>
                    <div class="col-4">
                        {% if app.user %}
                            {% if app.user.id == trick.user.id %}
                                <div class="row">
                                    <div class="col-6">
                                        <a href="{{ path('trick_edit', {id: trick.id}) }}">
                                            <i class="fe-edit-2"></i>
                                        </a>
                                    </div>
                                    <div class="col-6">
                                        <form method="post" action="{{ path('trick_delete', {id: trick.id}) }}" onsubmit="return confirm('Êtes vous vraiement sûr ?')">
                                            <input type="hidden" name="_method" value="DELETE">
                                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.id) }}">
                                            <button class="btn p-0 text-primary"><i class="fe-trash"></i></button>
                                        </form>
                                    </div>
                                </div>
                            {% endif %}
                        {% endif %}

                    </div>
                </div>

            </div>
        </div>
    {% endfor %}
</div>

<div class="row d-flex justify-content-center mt-5">
    <button type="button" class="btn btn-primary">Loading more</button>
</div>



