{% extends 'base.html.twig' %}

{% block title %}Détaille d'un trick{% endblock %}

{% block body %}



    <div class="container mt-5 pr-0 pl-0 " >
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        <header class="jarallax bg-dark" data-jarallax data-type="scale-opacity" data-speed="0.09">
            <div class="jarallax-img px-0" style="background-image: url(
            {% if trick.mainImage %}{{ asset('uploads/images/' ~ trick.mainImage.name ) }}{% else %}{{ asset('uploads/images/default.jpg') }}{% endif %}
                    );"></div>
            <div class="container">
                <div class="d-flex flex-row-reverse align-items-start">
                    {% if app.user %}
                        {% if app.user.id == trick.user.id %}
                            <div class="row border m-2 p-2" style="background: #ffffff" >
                                <a class="inline m-2" href="{{ path('trick_edit', {id: trick.id}) }}">
                                    <i class="fe-edit-2"></i>
                                </a>
                                <form class="m-2" method="post" action="{{ path('trick_delete', {id: trick.id}) }}" style="display: inline-block" onsubmit="return confirm('Êtes vous vraiement sûr ?')">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.id) }}">
                                    <button class="btn p-0 text-primary"><i class="fe-trash"></i></button>
                                </form>
                            </div>
                        {% endif %}
                    {% endif %}

                </div>
                <div class="container py-md-3">
                    <div class="row justify-content-md-center">
                        <div class="col-xl-6 col-lg-6 col-md-6">
                            <div class=" rounded-lg box-shadow-lg py-5">
                                <h1 class="text-center text-white mb-5 py-5">{{ trick.title }}</h1>
                            </div>
                        </div>
                    </div>
                </div>
        </header>


    </div>


    <div class="container border border-secondary pt-4 mb-4">
        <!-- Section medias -->
        <section>

            <div class="row mt-4">
                <div class="col d-flex justify-content-center">
                    <button class="btn btn-primary d-block d-md-none" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                        Voir les médias
                    </button>
                </div>
            </div>

            <div class="row collapse dont-collapse-sm" id="collapseExample">
                {% for image in trick.images %}
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2" >
                        <div class="card m-2">
                            <img src="{{ asset('uploads/images/' ~ image.name ) }}" alt="image">
                        </div>

                    </div>
                {% endfor %}
                {% for video in trick.videos %}
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-2" >
                        <div class="card m-2">
                            <embed type="video/webm" src="{{ video.url }}" >
                        </div>

                    </div>
                {% endfor %}
            </div>
        </section>

        <!-- Trick content -->
        <section class="container pt-7" >
            <div class="row">
                <div class="col">
                    <p>{{ trick.content | nl2br }}</p>
                </div>
            </div>
        </section>

        <!-- Trick infos -->
        <section class="container pt-7 pb-4 col-9 " >

            <div class="row d-flex align-content-center">
                <div class="col-6">
                    <button type="button" class="btn btn-light border border-secondary">Publier le {{ trick.createAt|date("d/m/Y") }}</button>
                </div>
                    {% if trick.createAt < trick.updateAt  %}
                        <div class="col">
                            <button type="button" class="btn btn-light border border-secondary">Modifier le {{ trick.updateAt|date("d/m/Y") }}</button>
                        </div>
                    {% endif %}

                <div class="col-6">
                    Dans :
                    {% for group in trick.trickGroup %}
                            <button type="button" class="btn btn-light border border-secondary">{{ group.title }}</button>
                    {% endfor %}
                </div>
            </div>
        </section>

        <!-- Divider -->
        <div class="container col-10 border-top py-4"></div>

        <!-- Leave a comment -->
        <section class="container col-8">
        {% if app.user %}
            {{ form_start(form) }}
                <form >
                    <div class="form-row">
                        <div class="col-9">
                            {{ form_row(form.content) }}
                            {{form_widget(form._token)}}
                        </div>
                        <div class="col-3">
                            <button type="submit" class="btn btn-success">Commenter</button>
                        </div>
                    </div>
                </form>

                {{ form_end(form) }}
                {% else %}
                    <h3>Connecter vous pour pouvoir écrire un commentaire ! </h3>
        {% endif %}
        </section>

        <!-- Divider -->
        <div class="container col-10 border-top py-4 mt-4"></div>


        <!-- List comments -->
        <section class="container col-8 pb-4">
            <div id="comments">
                <div class="row">
                    {% set i = 5 %}
                    {% for comment in trick.comments | reverse(true) |slice(0, 5) %}
                        {% if comment.status == 'valide' %}
                            <div class="row">
                                <div class="col-5 col-sm-3 col-md-2 my-2">
                                    <img src="{{ asset('uploads/images/') }}{{ comment.user.avatar }}" height="90px" class="rounded-circle" alt="" />
                                    <small>Le {{ comment.createAt|date("d/m/Y") }}</small><br>
                                    <small>Par {{ comment.user.pseudo }}</small>

                                </div>
                                <div class="col-7 col-sm-9 col-md-10 my-2 border border-secondary p-4">
                                    <p>{{ comment.content }}</p>
                                </div>
                            </div>

                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </section>

        <section>
            {% if trick.comments|length > i %}
                <div class="row pb-7">

                    <div class="col-12 text-center">
                        <button id="loadMoreComments" class="btn btn-primary">Voir plus de commentaires</button>
                    </div>
                </div>
            {% endif %}
        </section>



    </div>


    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        click = 0;
        function loadMoreComment(event) {
            event.preventDefault();
            click++;
            var start = 5 * click;
            const url = "{{ path('trick_read', {slug: trick.slug, id: trick.id }) }}" + start;
            axios.get(url).then(function(response) {
                $("#comments").append(response.data);
            }).catch(function (error) {
                if (response.status === 403) {
                    window.alert("Vous n'êtes pas autorisé à effectuer cette action !");
                }
                else if (response.status === 404) {
                    window.alert("La page appelé n'existe pas");
                }
                else {
                    window.alert("Une erreur est survenue !");
                }
            });
        }
        document.getElementById("loadMoreComments").addEventListener("click", loadMoreComment);
    </script>






{% endblock %}
