{% extends 'base.html.twig' %}

{% block title %}Détaille d'un trick{% endblock %}

{% block body %}


    <div class="container mt-4">

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}


        <h1>{{ trick.title }}</h1>
        <small>Publier le {{ trick.createAt|date("d/m/Y") }}</small>
        <p>{{ trick.content }}</p>

        {% if app.user %}
        {{ form_start(form) }}
            {{ form_row(form.content, {'att': {'placeholder': "Votre commentaire..."}}) }}
            {{ form_row(form.status, { 'attr' : { 'style':'display:none'} }) }}

            <button type="submit" class="btn btn-success">Commenter</button>
        {{ form_end(form) }}
        {% else %}
        <h3>Connecter vous pour pouvoir écrire un commentaire ! </h3>
        {% endif %}

        <br>

        <small>{{ trick.comments|length }} commentaires</small>
        <ul>
            {% for comment in trick.comments | reverse(true) %}
                {% if comment.status == 'valide' %}
                <img src="{{ comment.user.gravatarURL }}">
                <li>Pseudo : {{ comment.AuthorPseudo }}</li>
                <li>Publier le {{ comment.createAt|date("d/m/Y") }}</li>
                <li>Message : {{ comment.content }}</li>
                <br>
                {% endif %}
            {% endfor %}
        </ul>
    </div>



{% endblock %}
